<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.nerd.alarm"
      android:versionCode="1"
      android:versionName="1.4">
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET" />    
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" 
    		android:theme="@style/NuclearTheme">
        <activity android:name=".splash" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".alarm" android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.nerd.alarm" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".addalarm" android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.nerd.addalarm" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".alarm_pref" android:label="@string/app_name" android:theme="@style/PreferencesTheme">
            <intent-filter>
                <action android:name="com.nerd.alarm_pref" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".days" android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.nerd.days" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Display_Records" android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.nerd.display_records" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity android:name=".AlarmActivity" android:label="AlarmActivity"/>
        		<service android:name=".NuclearService" android:label="AlarmService"/>
	</application>
</manifest>